<section>
  <header>
    <img src="assets/imgs/thumbnail.png" alt="Logo" />
    <h1>Twikit Time-it</h1>
  </header>

  <div *ngIf="((timers$ | async) || []).length" class="button-wrapper">
    <app-button
      *ngIf="((timers$ | async) || []).length > 1"
      label="Sort"
      icon="order.svg"
      color="default"
      (onClick)="sort()"
    ></app-button>

    <app-button
      label="Refresh"
      icon="refresh.svg"
      color="default"
      (onClick)="onRefresh()"
    ></app-button>
  </div>
</section>
