section {
  border-bottom: solid 1px #000;
  width: 100%;

  header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 64px;
    }
  }

  .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    app-button:first-child {
      margin-right: 8px;
    }
  }
}
